@model DevUtility.Domain.ViewModels.DevUtilityViewModel

@{
    ViewData["Title"] = "App Pools";
}

<div class="app-pool-filter">
    <form id="app-pool-filter">
        <div class="form-inner">
            <div class="form-group">
                <input type="text" class="form-control" id="filterFreeText" placeholder="" value="@Model.FilterQuery">
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </form>
</div>

<div class="app-pool-list">
    @foreach (var appPool in Model.AppPools)
    {
        <div class="app-pool-list__app-pool @(appPool.IsStopped ? "app-pool--stopped stopped" : "app-pool--running running")" data-app-pool-name="@(appPool.Name)">
            <div class="app-pool__hgroup">
                <div class="app-pool__name">@appPool.Name</div>
                <div class="app-pool__state @(appPool.IsStopped ? "stopped border-fl" : "running border-fl")">@appPool.State</div>
            </div>
            <div class="app-pool__triggers">
                <div class="app-pool__trigger app-pool__trigger--start" data-api-action="start">
                    <div class="app-pool__trigger-container">
                        <div class="app-pool__trigger-name app-pool__trigger-name--start">
                            Start
                        </div>
                        @{
                            await Html.RenderPartialAsync("Partials/Iconography/_Start");
                        }
                    </div>
                </div>
                <div class="app-pool__trigger" data-api-action="stop">
                    <div class="app-pool__trigger-container">
                        <div class="app-pool__trigger-name">
                            Stop
                        </div>
                        @{
                            await Html.RenderPartialAsync("Partials/Iconography/_Stop");
                        }
                    </div>
                </div>
                <div class="app-pool__trigger" data-api-action="recycle">
                    <div class="app-pool__trigger-container">
                        <div class="app-pool__trigger-name">
                            Recycle
                        </div>
                        @{
                            await Html.RenderPartialAsync("Partials/Iconography/_Recycle");
                        }
                    </div>
                </div>

            </div>
        </div>
    }
</div>
